# --- Mac OS ---
.DS_Store

# --- Python ---
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.env
*.npy
*.png
*.pdf

# --- Data & Config ---
data/
.ipynb_checkpoints/# pixi environments
.pixi/*
!.pixi/config.toml

log.txt